* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 350px;
  scroll-snap-type: x mandatory;
  /* scroll-padding: 25px; */
  column-gap: 30px;
  overflow-x: scroll;
}

@media screen and (min-width:800px) {
  


.container::-webkit-scrollbar {
  background-color: transparent;

}

.container:hover::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #ddd;
  border: 4px solid #fff;
}

}
.card {
  flex: 0 0 100%;
  padding: 30px;
  scroll-snap-align: start;
  border-radius: 30px;
}

.card:nth-child(1) {
  background: linear-gradient(to left top, rgb(0, 0, 255,0.4), rgb(255, 0, 0,0.4));
}

.card:nth-child(2) {
  background: linear-gradient(to left top, rgba(0, 255, 55, 0.4), rgba(255, 238, 7, 0.452));
}

.card:nth-child(3) {
  background: linear-gradient(to left top, rgba(255, 0, 157, 0.4), rgba(0, 238, 255, 0.4));
}